<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foreign Exchange Converter</title>
</head>
<body>
    
    <h1>Currency Converter</h1>

    <label for="input_currency">From:</label>
    <input type="text" name="input_currency" id="input_currency" maxlength="3">
    <input type="text" name="amount" id="amount" required>

    <label for="output_currency">To:</label>
    <input type="text" name ="output_currency" id="output_currency" maxlength="3">











</body>
</html>